.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;

  p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #8f8d8d;

    span {
      margin: 0 0.8rem;
      color: #525252;
    }

    svg {
      margin-right: 0.8rem;
      color: #333333;
      stroke-width: 1;
    }
  }
}

.title {
  font-size: 4.6rem;
  color: var(--black);
  margin-bottom: 7rem;
}

.aboutProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  font-size: 1.8rem;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;

  article {
    max-width: 100%;

    p {
      margin-bottom: 3.2rem;
      line-height: 1.6;
      font-size: 2rem;
    }

    strong {
      text-align: left;
      display: block;
      margin-bottom: 1rem;
      font-size: 2.4rem;
    }
  }

  h2 {
    position: relative;
    padding-bottom: 0.8rem;

    &::before {
      content: "";
      height: 0.5rem;
      width: 6rem;
      position: absolute;
      bottom: -0.5rem;
      background-color: #2d05bf;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;
  background: #e6e0e0;

  h2 {
    margin-bottom: 4rem;
    color: #850703;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 8rem;
    font-weight: 700;
    color: var(--gray);
  }
}

.aboutProject img {
  transition: all 0.3s;

  &:hover {
    transform: rotate(-1deg);
  }
}

.aboutProject a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
}

@media (max-width: 768px) {
  .aboutProject {
    max-width: 90%;
  }
  .aboutProject article p {
    font-size: 1.8rem;
  }
  .projects {
    padding: 4rem;
    text-align: center;
  }
  .projects h2 {
    font-size: 4rem;
  }
}
