.reality {
  text-align: center;
  padding: 4rem;
  flex-direction: column;
}

.realityGridItem {
  max-height: 24rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reality img {
  max-width: 90%;
}

.projectAbout {
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
  padding: 2.4rem 10rem;
}

.projectAbout h4 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9rem 0;
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects p {
  font-size: 1.6rem;
  margin-bottom: 8rem;
  font-weight: 700;
  color: var(--gray);
}

@media (max-width: 768px) {
  .realityGrid {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
  .reality {
    padding: 1.6rem;
  }
  .projectAbout {
    grid-template-columns: none;
    padding: 4rem 2rem;
  }
  .projects {
    padding: 4rem;
    text-align: center;
  }
  .projects h2 {
    font-size: 4rem;
  }
}
