.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
}

.breadcrumb p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #8f8d8d;
}

.breadcrumb p span {
  margin: 0 0.8rem;
  color: #525252;
}

.breadcrumb p svg {
  margin-right: 0.8rem;
  color: #333333;
  stroke-width: 1;
}

.title {
  font-size: 4.6rem;
  color: var(--black);
  margin-bottom: 7rem;
}

.aboutProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  font-size: 1.8rem;
  text-align: left;
}

.aboutProject h2 {
  position: relative;
  padding-bottom: 0.8rem;
}

.aboutProject h2::before {
  content: "";
  height: 0.5rem;
  width: 6rem;
  position: absolute;
  bottom: -0.5rem;
  background-color: #2d05bf;
}

.aboutProject article {
  max-width: 60%;
}

.aboutProject article p {
  margin-bottom: 3.2rem;
  line-height: 1.6;
  font-size: 2rem;
}

.friendEnterprise {
  background: #fff;
  width: 100%;
  padding: 8rem 14rem;
  display: inline-block;
}

.friendEnterprise h2 {
  text-align: center;
  position: relative;
  padding-bottom: 0.8rem;
}

.friendEnterprise h2::before {
  content: "";
  height: 0.5rem;
  width: 6rem;
  position: absolute;
  bottom: -0.5rem;
  background-color: #2d05bf;
}

.enterprise {
  filter: grayscale(100%);
  transition: all 0.3s;
  width: 100%;
  max-height: 18rem;
}

.enterprise a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.enterprise img {
  max-height: 10rem;
}

.enterprise:hover {
  filter: none;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;
  background: #fafafa;
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects p {
  font-size: 1.6rem;
  margin-bottom: 8rem;
  font-weight: 700;
  color: var(--gray);
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  .aboutProject article {
    max-width: 85%;
  }
  .friendEnterprise {
    padding: 4rem;
  }
  .friendEnterpriseGrid {
    grid-template-columns: none;
  }
  .enterprise {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects {
    padding: 4rem;
    text-align: center;
  }
  .projects h2 {
    font-size: 4rem;
  }
}
